.body {
  margin-bottom: 250px;
  text-align: center;
}

.title {
  text-align: center;
  padding: 30px;
}

.h3 {
  background-color: #3a009f;
  border-radius: 10px;
  padding: 5px;
}

.h1 {
  font-size: 54px;
}

.randomNum {
  background-color: #028af2;
  padding: 30px;
  max-width: 25%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button_28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1a1a1a;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  max-width: 17%;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  background-color: #eeeeee;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.button_28:disabled {
  pointer-events: none;
}

.button_28:hover {
  color: #eeeeee;
  background-image: linear-gradient(to right, #6105fe, #ff5fe7);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_28:active {
  box-shadow: none;
  transform: translateY(0);
}

.button_28 a {
  text-decoration: none;
  color: #151315;
}

.button_28 a:hover {
  text-decoration: none;
  color: #eeeeee;
}

/* .horizline {
  max-width: 35%;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
} */
