@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");

.body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Jost", sans-serif;
  padding: 40px 20px;
  color: rgb(211, 211, 211);
  background: black;
}

.h1 {
  text-align: center;
  padding-bottom: 20px;
}

.flex_container_cards {
  filter: drop-shadow(#ff5fe7 0px 0px 1px);
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.flex_container_cards .card {
  background: linear-gradient(45deg, rgb(0, 2, 35) 0%, rgb(0, 0, 0) 100%);
  width: 300px;
  -webkit-clip-path: polygon(
    0 0,
    200px 0,
    210px 10px,
    280px 10px,
    290px 0,
    100% 0,
    100% 150px,
    290px 160px,
    290px 300px,
    100% 310px,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 400px,
    10px 390px,
    10px 100px,
    0 90px
  );
  clip-path: polygon(
    0 0,
    200px 0,
    210px 10px,
    280px 10px,
    290px 0,
    100% 0,
    100% 150px,
    290px 160px,
    290px 300px,
    100% 310px,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 400px,
    10px 390px,
    10px 100px,
    0 90px
  );
  transition: all 0.2s linear;
  filter: drop-shadow(#6105fe 0px 0px 10px);
}

.flex_container_cards .card:hover {
  transform: scale(1.1);
}

.flex_container_cards .card .card_img_shadow {
  filter: drop-shadow(#ff5fe7 0px 0px 10px);
}

.flex_container_cards .card .card_img_shadow .img {
  height: 200px;
  margin-bottom: 30px;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    30px 100%,
    0 calc(100% - 30px)
  );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30px 100%, 0 calc(100% - 30px));
}

.img {
  margin-left: 50px;
}

.flex_container_cards .card .card_content {
  margin: 0px 30px;
}

.flex_container_cards .card .h4 {
  color: #028af2;
  text-align: center;
  font-weight: 600;
}

.flex_container_cards .card .button_shadow {
  filter: drop-shadow(#ff5fe7 0px 0px 5px);
  transition: all 0.2s ease-in;
}

.flex_container_cards .card .button_shadow:hover {
  filter: drop-shadow(#6105fe 0px 0px 10px);
}

.flex_container_cards .card .button_shadow .card_button {
  text-align: center;
  margin: 20px 0px;
  padding: 10px 0px;
  background: linear-gradient(45deg, #6105fe 0%, #ff5fe7 100%);
  -webkit-clip-path: polygon(
    0 0,
    100% 0%,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    100% 0%,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );
  color: black;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.flex_container_cards .card .button_shadow .card_button:hover {
  color: white;
}

/* Button */
.button_64 {
  align-items: center;
  background-image: linear-gradient(144deg, #6105fe, #ff5fe7 50%, #028af2);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 75px;
}

.button_64:active,
.button_64:hover {
  outline: 0;
}

.button_64 .span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button_64:hover .span {
  background: none;
}

@media (min-width: 768px) {
  .button_64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.a {
  text-decoration: none;
  color: #ffffff;
}

.a:hover {
  text-decoration: none;
  color: #ffffff;
}

.view {
  text-decoration: none;
}

.view:hover {
  text-decoration: none;
  color: #ffffff;
}

.svg {
  margin-right: 5px;
}
