.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.gamebody{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s;
  animation: fadeIn 1.5s;
}

.slider{
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.buttonImage{
  position: absolute;
  bottom: 20px;
  left: 90px;
  display: flex;
  flex-direction: row;
}

.imgBtn{
  height: 120px;
  width: 190px;
  margin: 10px;
  border: 0.5px solid #d0d0d05e;
  border-radius: 10px;
}

.imgBtn:hover{
  border: 3px solid #d0d0d0;
}

.gameDetails{
  position: absolute;
  top: 200px;
  left: 100px;
  transition: 1.5s;
}

.gameDetails h1{
  color:#eaeaea;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  -webkit-text-stroke: 0.9px rgba(0, 0, 0, 0.527);
}
.gameDetails h4{
  color:#eaeaea;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  -webkit-text-stroke: 0.9px rgba(0, 0, 0, 0.527);
}
.gameDetails button{
  display: inline-block;
  padding: 12px 20px;
  border: 0;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.gameDetails button:hover{
  background-color: rgba(255,255,255,0.2);
}

.imageBtnText{
  position: relative;
  color: white;
  font-size: medium;
  left: 15px;
  top:120px;
  -webkit-text-stroke: 0.9px rgba(0, 0, 0, 0.527);
}

.gameTitle{
  position: absolute;
  top: 20px;
  left: 100px;
  color: white;
  display: flex;
  flex-direction: row;
}

.homeImage{
  position: relative;
  align-self: center;
  fill: white;
  height: 25px;
  top: 4px;
  margin-right: 15px;
}

/* SECTION 2 */
#section2 {
  background-color: #111;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  max-width: 100%;
  color: white;
}
#section2 h1 {
  font-family: 'Silkscreen';
}
#section2 span {
  color: #e50afe;
}
#section2 .text-center {
  padding-top: 5rem;
}
#section2 .text-center p {
  font-size: 14px;
  font-family: helvetica;
  letter-spacing: 0.1rem;
  color: gray;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  font-weight: 200;
}
#section2 .video-frame video {
  width: 600px;
  height: 45vh;
  object-fit: cover;
  object-position: bottom;
  border-radius: 18px;
}
#section2 .video-frame {
  margin-top: 2rem;
}

@media screen and (min-width: 320px) {
  #section2 h1 {
      font-size: 20px;
  }
  #section2 .text-center {
      padding-top: 5rem;
  }
  #section2 .text-center p {
      font-size: 10px;
  }
  #section2 .video-frame video {
      width: 300px;
      height: 30vh;
  }
}

@media screen and (min-width: 768px) {
  #section2 h1 {
      font-size: 28px;
  }
  #section2 .text-center p {
      font-size: 12px;
  }
  #section2 .video-frame video {
      width: 400px;
      height: 40vh;
  }
}

@media screen and (min-width: 1024px) {
  #section2 h1 {
      font-size: 34px;
  }
  #section2 .text-center p {
      font-size: 14px;
  }
  #section2 .video-frame video {
      width: 600px;
      height: 45vh;
  }
}

@media screen and (min-width: 1200px) {
  #section2 h1 {
      font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  #section2 .video-frame video {
      width: 700px;
      height: 45vh;
      margin-top: 3rem;
  }
  #section2 .text-center {
      padding-top: 5rem;
  }
  #section2 h1 {
      font-size: 44px;
  }
  #section2 .text-center p {
      font-size: 16px;
      margin-top: 3rem;
  }
}

/* SECTION 3 */

.flexContainer {
  display: flex;
  width: 430px;
  position: relative;
  margin-top: 1rem;
}

.flexContainer .form-control {
  flex: 1;
  width: 100%;
  background-color: transparent;
  height: 55px;
  border-radius: 35px;
  box-shadow: 3px;
  font-size: 12px;
  color: white;
  font-weight: 300;
  padding: 0.375rem 2.5rem;
  opacity: 100%;
  justify-content: center;
  border: 0.1px solid #6105fe;
}

.flexContainer .btn {
  position: absolute;
  right: 0.5rem;
  border-radius: 35px;
  z-index: 2;
  top: 3px;
  width: 48px;
  border: none;
  height: 48px;
  cursor: pointer;
  opacity: 90%;
  background-color: #e50afe;
  font-size: 12px;
  transform: translateX(2px);
  padding: 1rem 1rem;
}
.flexContainer img {
  position: absolute;
  right: -0.3rem;
  z-index: 2;
  top: -4px;
  width: 60px;
  height: 60px;
  padding: 1rem 1rem;
}

#section3 {
  background-color: #040532;
  background-size: cover;
  height: 60vh;
  background-repeat: no-repeat;
  max-width: 100%;
  color: white;
}
#section3 .button-scb {
  display: flex;
  justify-content: center;
}
#section3 h1 {
  font-size: 30px;
  font-family: 'Silkscreen';
}
#section3 span {
  color: #e50afe;
}
#section3 .text-center p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}
#section3 .text-center {
  border: 0.1px solid white;
  padding: 2.5rem 4rem;
  margin-top: 5rem;
  width: 850px;
  margin-left: 13rem;
  background-color: #14074b;
  border-radius: 20px;
}

@media screen and (min-width:320px) {
  #section3 .text-center {
      padding: 2.5rem 4rem;
      margin-top: 3rem;
      width: 300px;
      margin-left: 0.7rem;
  }
  #section3 {
      height: 80vh;
  }
  .flexContainer .form-control {
      padding: 0.375rem 1rem;
  }
}

@media screen and (min-width:375px) {
  #section3 .text-center {
      margin-left: 2rem;
  }
}

@media screen and (min-width:425px) {
  #section3 .text-center {
      margin-left: 4rem;
  }
}

@media screen and (min-width:1440px) {
  #section3 .text-center {
      margin-left: 22rem;
      margin-top: 10rem;
  }
}