.playerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #8a2be2, #1c2331);
  padding: 50px;
  flex-direction: column;
}

.playerContainer .input {
  margin-bottom: 20px;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 70px;
}

.text {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 70px;
}

.input {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 4px;
}

.button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(to right, #8a2be2, #ff69b4);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 2px 2px 2px #000000;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 4px #000000;
}

.reactPlayer {
  margin: 10px;
}

.audio {
  margin: 10px;
}
